html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    padding: 0;
    width: 1100px;

}

a {
    text-decoration: none;
}
#page {
    width: 1100px;
    float: left;
}
#checkboxes{
    height: 200px;
}
.prev_active {
    margin-left: 85px;
}
